<header>
  <h1>Register</h1>
</header>
<section class="register">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit($event)">
    <fieldset>
      <label><input type="text"  placeholder="Name" formControl="name" /></label>
      <label><input type="number" placeholder="Age" formControl="age" /></label>
      <select formControl="job_id">
        <option [value]="NO_JOB_SELECTED">Select a Job</option>
        <option *ngFor="let job of marsJobs" [value]="job.id">{{job.name}}</option>
      </select>
    </fieldset>
    <fieldset>
      <button>Check in</button>
    </fieldset>
  </form>
</section>
