<section class="register">
  <h1>Register</h1>
  <form>
    <fieldset>
      <label><input type="text" placeholder="Name"[(ngModel)]="colonist.name" name="name"></label>
      <label><input type="number" placeholder="Age" [(ngModel)]="colonist.age" name="age"></label>
      <select name="select">
        <option value="1" selected>Select occupation</option>
      </select>
    </fieldset>
    <fieldset>
      <button type="button" name="Check In">Check in</button>
    </fieldset>
  </form>
</section>
